html {
    margin: 0px;
    height: 100%;
    width: 100%;
 }
 
 body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
 }


.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*/////////////////////////////////////////////
    Welcome Screen
/////////////////////////////////////////////*/
#welcomeScreen{
    background-image: linear-gradient(LightCyan, DodgerBlue);
    min-height: 100vh;
}

#nameBanner{
    margin-top: 30px;
    display: flex;
    width: 80%;
}

#nameBanner > h1{
    text-align: center;
    margin: auto;
    font-family: Garamond, sans-serif;
    font-size: 40pt;
}
.starsOnWelcomeBanner{
    max-width: 200px;
}

#welcomeScreen > form{
    margin-top: 60px;
    width: 60%;
    text-align: center;
    font-size: 16pt;
}

#welcomeScreen > form > input {
font-size: 14pt;
height: 25px;
width: 190px;
}

#joinButton{
    margin-top: 15px;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: lightblue;
    font-size: 14pt;
}

#authFailedPic { 
    display: none;
    margin-top: 40px;
}

#authenticationButtons{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#authenticationButtons > button{
    font-size: 12pt;
    padding: 6px;
    margin: 10px;
    border-radius: 5px;
}


/*/////////////////////////////////////////////
    Game Screen
/////////////////////////////////////////////*/

#gameScreen{
    display: none;
    min-height: 100vh;
    background-image: linear-gradient(LightCyan, DodgerBlue);
}

#leftColumn{
    flex:13%;
}

#mainColumn{
    flex:74%;
}

#rightColumn{
    flex:13%;
}

.gameScreenHeader{
    display: flex;
    height: 25%;
}
#playerHeader{
    
}

.castInfo{
    flex: 23%;
}

.castPicDiv{
    height: 85%;
}
.castPicDiv > img {
    max-height: 100%;
    object-fit: contain;
    width: 100%;
}

.castInfo > p{
    margin: 5px;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: large;
}

#playerHeader > #gameName{
    flex: 54%;
    display: flex;
}

#gameName > h1{
    text-align: center;
    font-family: Garamond, sans-serif;
    font-size: 30pt;
    margin: auto;
}

#player1div{
    height: 100%;
}

#player2div{
    display: none;
    height: 100%;
}

#player3div{
    display: none;
    height: 50%;
}

#player4div{
    display: none;
    height: 50%;
}
.playerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.playerContainer > p{
    margin: 5px;
    font-size: large;
    font-family: Roboto, sans-serif;
    font-weight: 600;
}

.playerPic{
    width: 90%;
    margin-bottom: 5px;
}

.playerScore{
    border-style: inset;
    width: 65px;
    background-color: white;
    text-align: center;
}


#hostHeader{
    display:none;
    flex-direction: row;
    background-color: palegreen;
}

#hostHeader > #primaryColumn{
    display: flex;
    flex-direction: column;
    width: 65%;
}


#primaryColumn > #gameSelection{
    height: 83%;
    display: flex;
}

#primaryColumn > #buttonRow{
    height: 17%;
    display: flex;
}

#hostHeader > #chatColumn{
    display: flex;
    flex-direction: column;
    width: 35%;
}

#chatColumn > #messageHistory{
    display: flex;
    height: 83%;
    background-color: white;
    opacity: 0.9;
    overflow-y: scroll;
    margin:  2pt;
    margin-bottom: 0pt; 
}

#chatColumn > #messageInput{
    display: flex;
    height: 17%;
}

#messageInput > form{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 2px;
}

#messageInput > form > input{
    flex-grow: 2;
}




#messageHistory > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messageHistory > ul > li {
    padding: 4px;
}

.hostButton{
    align-items: center;
    margin: 3px;
}






#gameRegion{
    height: 75%;
    background-color:black;
}


