html {
    margin: 0px;
    height: 100%;
    width: 100%;
 }
 
 body {
    margin: 0px;
    height: 100%;
    width: 100%;
 }


.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*/////////////////////////////////////////////
    Welcome Screen
/////////////////////////////////////////////*/
#welcomeScreen{
    background-image: linear-gradient(LightCyan, DodgerBlue);
    min-height: 100vh;
}

#nameBanner{
    margin-top: 30px;
    display: flex;
    width: 80%;
}

#nameBanner > h1{
    text-align: center;
    margin: auto;
    font-family: Garamond, sans-serif;
    font-size: 40pt;
}
.starsOnWelcomeBanner{
    max-width: 200px;
}

#welcomeScreen > form{
    margin-top: 60px;
    width: 60%;
    text-align: center;
    font-size: 16pt;
}

#welcomeScreen > form > input {
font-size: 14pt;
height: 25px;
width: 190px;
}

#joinButton{
    margin-top: 15px;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: lightblue;
    font-size: 14pt;
}

#authFailedPic { 
    display: none;
    margin-top: 40px;
}

#authenticationButtons{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#authenticationButtons > button{
    font-size: 12pt;
    padding: 6px;
    margin: 10px;
    border-radius: 5px;
}


/*/////////////////////////////////////////////
    Game Screen Outer Frame
/////////////////////////////////////////////*/

#gameScreen{
    display: none;
    height: 100%;
    background-image: linear-gradient(LightCyan, DodgerBlue);
}

#leftColumn{
    flex:13%;
    display: flex;
    flex-direction: column;
}

#mainColumn{
    flex:74%;
    display: flex;
    flex-direction: column;
    height: 100%
}

#rightColumn{
    flex:13%;
    display: flex;
    flex-direction: column;
}

.gameScreenHeader{
    display: flex;
    height: 25%;
}

.castInfo{
    flex: 23%;
}


.castPicDiv{
    height: 85%;
}
.castPicDiv > img {
    max-height: 100%;
    object-fit: contain;
    width: 100%;
}

.castInfo > p{
    margin: 2px 5px 0px 5px;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: large;
}

#playerHeader > #gameName{
    flex: 54%;
    display: flex;
}

#gameName > h1{
    text-align: center;
    font-family: Garamond, sans-serif;
    font-size: 30pt;
    margin-top: 45px;
}

#player1div{
    height: 100%;
}

#player2div{
    display: none;
    height: 100%;
}

#player3div{
    display: none;
    height: 50%;
}

#player4div{
    display: none;
    height: 50%;
}
.playerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.playerContainer > p{
    margin: 5px;
    font-size: large;
    font-family: Roboto, sans-serif;
    font-weight: 600;
}

.playerPic{
    width: 90%;
    margin-bottom: 5px;
}

.playerScore{
    border-style: inset;
    width: 65px;
    background-color: white;
    text-align: center;
}


#hostHeader{
    display:none;
    flex-direction: row;
    background-color: yellow;
}

#hostHeader > #primaryColumn{
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 100%;
    justify-content: flex-end;
}


#primaryColumn > #gameSelection{
    height: 75%;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    padding: 3px 0px 3px 3px;
}

#gameListArea{
    width: 30%;
}

#gameList{
    width: 100%;
    height: 100%;
    padding: 3px;
}

#gameList > option{
    font-size: 12pt;
    margin-bottom: 2px;
}

#gameActionButtons{
    width: 8%;
    display: flex;
    flex-direction: column;
}

#gameActionButtons > button{
    border-radius: 7px;
    font-size: 11pt;
    padding: 2px;
}
#startGameButton{
    background-color: springgreen;
    height: 60%;
}
#endGameButton{
    background-color: tomato;
    height: 40%;
}

#gameSpecificContent{
    width: 60%;
    flex-grow: 1;
    display: flex;
    padding-left: 4px;
}

#primaryColumn > #buttonRow{
    display: flex;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    
}

#hostHeader > #chatColumn{
    display: flex;
    flex-direction: column;
    width: 35%;
}

#chatColumn > #messageHistory{
    display: flex;
    height: 83%;
    background-color: white;
    opacity: 0.9;
    overflow-y: scroll;
    margin:  3px;
    margin-bottom: 0pt; 
}

#chatColumn > #messageInput{
    display: flex;
    height: 17%;
}

#messageInput > form{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 3px;
}

#messageInput > form > input{
    flex-grow: 2;
}



#messageHistory > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messageHistory > ul > li {
    padding: 4px;
}

.hostButton{
    align-items: center;
    margin: 3px;
}

.mainCenterRegion{
    height: 75%;
}

hr{
    display: flex;
    width: 100%;
    border-color: red;
    background-color: salmon;
    height: 2px;
    box-sizing: border-box;
    margin: 0px 0px 3px 0px;
}


#technicianRegion{
    display: none;
    background-color:black;
    flex-direction: column;
}

#technicianRegion > #topRow{
    display: flex;
    flex-direction: row;
    padding: 5px 2px 5px 5px;
}

#technicianRegion #tableDiv{
    width: 85%;
}


#gameDataTable{
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

#technicianRegion td, th {
    border: 2px solid;
    border-color: limegreen;
    text-align: center;
    padding: 2px;
    color: limegreen;
}
#gameDataTable tr:nth-child(even) {
    background-color:#2e0033;
}

#gameDataTable .tableTextBox{
    width: 100%;
    padding: 1px;
    box-sizing: border-box;
    background-color: #3d3d3d;
    color: limegreen;
    border-color: #014f0b;
    text-align: center;
}

#buttonColumn{
    width:15%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.technicianButton{
    margin: 3px;
    padding: 3px 6px 3px 6px;
    background-color: #09630a;
    border-color: limegreen;
    color: lime;
}

#playerCount{
    color: limegreen;   
    margin: 8px;
}

#technicianMainBottomArea{
    display: flex;
    flex-direction: row;
    height: 30%;
    flex-grow: 1;
    width: 100%;
    padding: 0px 3px 3px 3px;
}

#technicianPrimaryLeftColumn{
    display:flex;
    width: 75%;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-end;
}

#consoleArea{
    flex-grow: 1;
    overflow-y: scroll;
    margin-bottom: 4px;
}

#consoleOutput{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    padding-left: 5px;
    height: 100%;
}

#consoleOutput > li {
    color: limegreen;
    margin: 2px;
    margin-left: 3px;
}

#soundButtons{
    width: 130px;
    display: flex;
    flex-direction: column;
    padding: 4px;
}

#technicianQuizBallArea{
    width: 100%;
    background-color: yellow;
}

#quizBallTable{
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}





/*/////////////////////////////////////////////
    Individual Game Screens
/////////////////////////////////////////////*/
.gamePane{
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: none;
}

/*
    PASS THE CONCH
*/

#passConchGame{
    background-color: #001263;    
}

#passConchSpecificContent{
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
}
#conchTopics{
    width: 100%;
    height: 80%;
    padding: 3px;
}

#conchGameButtons{
    display: flex;
    height: 20%;
    flex-direction: row;
    justify-content: center;
}

#conchGameButtons > button{
    margin: auto;
    margin-left: 3px;
    margin-right: 3px;
    padding: 3px;
}

#conchConvoStart{
    background-color: limegreen;
}
#conchConvoStop{
    background-color: red;
}
#inputForSilenceTimer{
    display: 'none';
    width: 10px;
    margin: auto;
    margin-left: 3px;
    margin-right: 3px;
}


#conchGameTitleBar{
    display: flex;
    flex-direction: row;
    height: 45%;
    justify-content: center;
    width: 100%;
    padding-top: 15px;
    box-sizing: border-box;
}

#conchGameTitleBar > h1{
   font-size: 55pt; 
   margin-right: 25px;
   margin-top: 30px;
   color: #FF6C6C;
}

#conchPic{
    height: 130px;
}

#conchGamePromptBar{
    height: 35%;
    color: white;
    text-align: center;
    font-size: 30pt;
}

#conchGameTimeBar{
    display: flex;
    justify-content: center;
    height: 20%;
}

#conchTimeTable{
    font-size: 20pt;
    color: white;
    align-self: flex-end;
    margin: auto;
    width: 70%;
}

.rightAlign{
    text-align: right;
    padding: 8px;
    width:50%
}
.leftAlign{
    text-align: left;
    padding: 8px;
    width: 50%;
}


/*
    NAME THE ANIMAL
*/
#nameAnimalGame{
    background-color: #9EFFA9;
}

#nameAnimalGameTitleBar{
    display: flex;
    flex-direction: row;
    height: 30%;
    justify-content: center;
    width: 100%;
}

#nameAnimalGameTitleBar > h1{
    font-size: 45pt;
    margin: auto 30px auto 0px;
    color: #8A003C;
    margin-right: 30px;
}

#nameAnimalPic{
    height: 130px;
    margin: auto 0px auto 0px;
}

#animalAnswerPicDiv{
    height: 55%;
    text-align: center;
    margin-top: 15px;
    display: none;
}

#animalAnswerPic{
    height: 100%
}

#animalNameDisplay{
    font-size: 26pt;
    flex-grow: 1;
    margin: 10px 0px 0px 0px;
    text-align: center;
    display: none;
}

#nameAnimalSpecificContent{
    display: none;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

#animalsList{
    width: 75%;
}
#nameAnimalsGameButtons{
    display: flex;
    flex-direction: column;
    padding-left: 3px;
}
#nameAnimalsGameButtons > button{
    margin-bottom: 4px;
}

/*
Draw Stuff
*/
#drawStuffSpecificContent{
    display: none;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#drawStuffSpecificContent > #topRow{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 85%;
}
#drawStuffSpecificContent > #bottomRow{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-grow: 1;
}

#drawStuffList{
    height: 100%;
    flex-grow:1;
}

select option{
    white-space: normal;
}
#drawStuffButtonColumn{
    display: flex;
    flex-direction: column;
    padding-left: 3px;
}
#drawStuffButtonColumn > button{
    font-size: 10pt;
    padding: 1px 3px 1px 3px;
    height: 100%;
}
#selectArtistForm{
    flex-grow:  1;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#selectArtistForm > input, label{
    margin: auto 0px auto 0px;
    font-family: monospace;
    font-size: 10pt;
}
#ArtistSectionLabel{
    margin: auto 4px auto 0px;
}

#selectArtistForm > label {
    margin-right: 12px;
}

#drawStuffGame{
    background-color: #f7f3e4;
}
#drawStuffTitleBar{
    display: flex;
    flex-direction: row;
    height: 18%;
    width: 100%;
    
}
#deadSpace{
    width: 23%;
    height: 100%;
}

.drawStuffTextArea{
    display: flex;
    flex-grow: 1;
    height: 100%;
    flex-direction: column;
    text-align: center;
}

.drawStuffTextArea > h1{
    font-size: 30pt;
    margin: 5px 0px 0px 0px;
}

.drawStuffTextArea > h4{
    font-size: 18pt;
    margin: 5px 0px 0px 0px;
}

#drawStuffLogoArea{
    width: 25%;
    text-align: left;
}

#drawStuffLogo{
    height: 100%;
}

#drawStuffTimeArea{
    height: 100%;
    width: 8%;
    text-align: center;
}

#drawStuffTimeArea > p{
    margin: 8px 0px 8px 0px;
    font-size: 13pt;
}

#drawStuffPromptArea{
    display: none;
}
#drawStuffPromptArea > p{
    margin: auto;
    background-color: #ffa8a8;
    padding: 4px;
}

#canvasArea{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#drawStuffCanvas{
    background-color: whitesmoke;
    border: solid;
    border-width: 2px;
}

/*
Draw Stuff
*/
#quizBallSpecificContent{
    display: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

#quizBallSpecificContent > #mainTopRow{
    width: 100%;
    display: flex;
    flex-direction: row;
}

#quizBallSpecificContent > #bottomRow{
    flex-grow: 1;
    background-color: green;
}

.quizBallSide{
    width: 110px;
    display: flex;
    flex-direction: column;
}

.quizBallSide > label{
    margin: 0px auto 2px auto;
}

.quizBallSide > select{
    margin-bottom: 2px;
}

.quizBallSide > .playerPaddleButton{
    flex-grow: 1;
}

.quizBallSide > .releasePaddleButton{
    background-color: orange;
}

#quizBallControlsColumn{
    display: flex;
    width: 200px;
    flex-grow: 1;
    justify-content: space-around;
}

#quizBallControlsColumn > button{
    padding: 2px;
    margin: 0px 4px 0px 4px;
    width: 30px;
    flex-grow: 1;
}
#quizBallControlsColumn > #middleButton{
    margin: 0px;
}

#quizBallControlsColumn > #speedColumn{
    display: flex;
    width: 40px;
    flex-direction: column;
    margin-right: 4px;
}

.quizBallSpeedBtn{
    flex-grow: 1;
}

#quizBallSpeedInput{
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin: 2px 0px 2px 0px;
}

#quizBallSpecificContent > #bottomRow{
    overflow-y: scroll;
}

#quizBallQuestions{
    flex-grow: 1;
    width: 100%;
    margin-top: 3px;
}



#quizBallGame{
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #282a2e;
}
#quizBallGame > #quizBallHeaderRow{
    height: 12%;
    display: flex;
    flex-direction: row;
    width: 920px;  
}
#quizBallHeaderRow > #titleColumn{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#quizBallHeaderRow > #titleColumn > h1{
    margin: 0px;
    font-size: 30pt;
    color: azure;
}

#quizBallHeaderRow > #titleColumn > label{
    margin: 2px 0px 2px 0px;
    font-size: 10pt;
    color: lightyellow;
}

#quizBallCanvasArea{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#quizBallGame .playerNameColumn{
    margin-top: auto;
    font-size: 14pt;
    color: azure;
    width: 15%;
}
#quizBallRightPlayerName{
    text-align: right;
    padding-right: 4px;
}

#quizBallCanvas{
    background-color: black;
}